.moreButton {
  all: unset;
  margin: 0 auto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 320px;
  height: 36px;
  background-color: #2f2f2f;
  justify-content: center;
  border-radius: 6px;
  margin-top: 80px;
  cursor: pointer;
}

.moreButton:hover {
  background-color: #444343;
}

@media screen and (max-width: 500px) {
  .moreButton {
    width: 240px;
    margin-top: 50px;
  }
}
