.moviesCardList {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 70px;
}

@media screen and (max-width: 768px) {
  .moviesCardList {
    gap: 30px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 667px) {
  .moviesCardList {
    gap: 15px;
  }
}

.moviesCardList__button {
  all: unset;
  margin: 0 auto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 320px;
  height: 36px;
  background-color: #2f2f2f;
  justify-content: center;
  border-radius: 6px;
  margin-top: 80px;
}

@media screen and (max-width: 500px) {
  .moviesCardList__button {
    width: 240px;
    margin-top: 50px;
  }
}
