.movies {
  margin: 0 auto;
  min-height: calc(100vh - 245px);
  max-width: 1140px;
}

@media screen and (max-width: 768px) {
  .movies {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 500px) {
  .movies {
    margin-left: 10px;
    margin-right: 10px;
  }
}
