.header {
  height: 74px;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header__logo {
  width: 34px;
  height: 34px;
  background-size: cover;
}

.header__right-block {
}

.header__login-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: #3ddc84;
  cursor: pointer;
  width: 74px;
  height: 32px;
  border-radius: 3px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__register {
  color: white;
  text-decoration: none;
  margin-right: 30px;
}
